<div id="user">
    <div class="content">
        <div class="top">
            <div class="icon-rounded">
                <i class="far fa-user"></i>
            </div>
            <span class="username">{{ user.name }}</span>
            <span class="job">{{ user.job }}</span>
        </div>

        <div class="informations">
            <div class="information">
                <i class="far fa-envelope-open"></i>
                <span>{{ user.email }}</span>
            </div>

            <div class="information">
                <i class="fas fa-phone"></i>
                <span>{{ user.phone }}</span>
            </div>
        </div>
    </div>
</div>
