@import "./variables";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1, h2 {
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  margin: 0;
}

h1.title {
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(0,0,0,0.05);

  @media screen and (max-width: $mobileSize) {
    font-size: 35px;
  }

  span {
    color: $primaryColor;
  }
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #000 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=password]:focus {
  border-bottom: 1px solid $primaryColor !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

.input-field .prefix.active {
  color: $primaryColor !important;
}


.hidden {
  display: none;
}

*:disabled {
  cursor: not-allowed !important;
}

.error {
  color: red !important;
}

.noItem {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  i {
    font-size: 150px;
    color: rgba(0,0,0,0.2);
    margin-bottom: 20px;
  }

  span {
    color: rgba(0,0,0,0.2);
    font-size: 50px;
  }
}
