<div id="forum">
    <h1>Forum</h1>

    <!--List-->
    <div class="posts">
        <div class="post" *ngFor="let post of posts">
            <div class="content">
                <div class="top">
                    <div class="icon-rounded">
                        <i class="far fa-newspaper"></i>
                    </div>
                    <span class="title">{{ post.title }}</span>
                </div>

                <div class="informations">
                    <div [innerHTML]="post.content"></div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal add post-->
    <pwe-modal [isVisible]="formIsVisible" (hideModal)="hideForm($event)">
        <pwe-forum-form (hideForm)="hideForm($event)"></pwe-forum-form>
    </pwe-modal>

    <a class="btn-floating btn-large waves-effect waves-light red btn-addPost" (click)="showForm()" *ngIf="canAddPost()">
        <i class="material-icons">add</i>
    </a>

</div>
