#usersList {
  .searchBar {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    i {
      margin-right: 20px;
    }
    .input-field, input {
      width: 100%;
    }
  }

  .users {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;

    .user {
      margin: 0 20px;
    }

    &::after {
      content: "";
      flex: auto;
    }
  }
}
