@import "~src/sass/variables";

$headerHeight : 65px;

header {
  position: fixed;
  z-index: 10;
  top: 0;
  height: $headerHeight;
  width: 100%;
  padding: 0 50px;
  color: white;
  background-color: $primaryColor;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: white;
  }

  .header__left {
    font-size: 25px;
    user-select: none;
    i {
      margin-right: 30px;
      cursor: pointer;
    }
  }

  .header__right {
    font-size: 25px;
  }
}
