<div id="user">
    <div class="content">
        <div class="top">
            <div class="icon-rounded">
                <i class="far fa-user"></i>
            </div>
            <span class="username">Jordan Sagnes</span>
            <span class="job">Développeur</span>
        </div>

        <div class="informations">
            <div class="information">
                <i class="far fa-envelope-open"></i>
                <span>jordan.sagnes@orange.fr</span>
            </div>

            <div class="information">
                <i class="fas fa-phone"></i>
                <span>0688447387</span>
            </div>
        </div>
    </div>
</div>
