<div id="files">
    <div class="files" *ngIf="files.length > 0">
        <a href="{{file.url}}" target="_blank" class="file" *ngFor="let file of files" download>
            <img src="{{file.url}}" alt="preview {{file.name}}" *ngIf="isImage(file)">
            <img src="../../../assets/not-picture.jpg" alt="preview {{file.name}}" *ngIf="!isImage(file)">
            <div class="info">
                <span>{{file.name}}</span>
            </div>
        </a>
    </div>

    <!--Modal add file-->
    <pwe-modal [isVisible]="formIsVisible" (hideModal)="hideForm($event)">
        <pwe-file-form (hideForm)="hideForm($event)"></pwe-file-form>
    </pwe-modal>

    <a class="btn-floating btn-large waves-effect waves-light red btn-addFile" (click)="showForm()">
        <i class="material-icons">add</i>
    </a>
</div>
