<div id="login">
  <div class="content">
    <h1>Connexion</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
      <div class="input-field">
        <i class="material-icons prefix">email</i>
        <input id="email" type="text" formControlName="email">
        <label for="email">Email</label>
        <div *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)">
            <span class="helper-text error" data-error="wrong" *ngIf="loginForm.get('email').errors.required">Ce champ est requis</span>
            <span class="helper-text error" data-error="wrong" *ngIf="loginForm.get('email').errors.email">Ce champ doit être un email valide</span>
        </div>
      </div>

      <div class="input-field">
        <i class="material-icons prefix">vpn_key</i>
        <input id="password" type="password" formControlName="password">
        <label for="password">Password</label>
        <span class="helper-text error" data-error="wrong" *ngIf="loginForm.get('password').invalid && (loginForm.get('password').touched)">Ce champ est requis</span>
      </div>

      <div class="action">
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
          <span>Connexion <i class="fas fa-sign-in-alt"></i></span>
        </button>
      </div>
    </form>
  </div>
</div>

