@import "~src/sass/variables";

.navigation-grid {
  display: grid;
  grid-template-columns: auto 1fr;

  .content {
    margin-top: 50px;
    padding: 50px;
    overflow-x: hidden;

    @media screen and (max-width: $mobileSize) {
      padding: 50px 20px;
    }

    &.sideNavIsActive {
      animation-duration: 0.5s;
      animation-name: contentSlideIn;
      animation-iteration-count: 1;
      margin-left: $sidenavWidth;

      @keyframes contentSlideIn {
        from {
          margin-left: 0;
        }

        to {
          margin-left: $sidenavWidth;
        }
      }
    }

    &.sideNavIsInactive {
      animation-duration: 0.5s;
      animation-name: contentSlideOut;
      animation-iteration-count: 1;
      margin-left: 0;

      @keyframes contentSlideOut {
        from {
          margin-left: $sidenavWidth;
        }

        to {
          margin-left: 0;
        }
      }
    }
  }
}
