<div id="side-nav" [ngClass]="isVisible ? 'active' : 'inactive'">
  <div class="links">
    <a class="link" routerLink="/dashboard" routerLinkActive="active">
      <i class="fas fa-columns"></i>
      <span>Dashboard</span>
    </a>

    <a class="link" routerLink="/users" routerLinkActive="active">
      <i class="fas fa-users"></i>
      <span>Utilisateurs</span>
    </a>

    <a class="link" routerLink="/forum" routerLinkActive="active">
      <i class="far fa-newspaper"></i>
      <span>Forum</span>
    </a>
    <a class="link" routerLink="/files" routerLinkActive="active">
      <i class="far fa-folder-open"></i>
      <span>Fichiers</span>
    </a>
  </div>
</div>
