<div id="dashboard">
    <h1 class="title"><span>D</span>ashboard</h1>
    <div class="boxes">
        <div class="box" routerLink="/users" routerLinkActive="active">
            <div class="header">
                <div class="header__left">
                    <i class="fas fa-users"></i>
                    <span>Utilisateurs</span>
                </div>
                <div class="header__right">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>

            <div class="content" *ngFor="let user of users">
                <span>{{ user.name }}</span>
            </div>

            <div class="content" *ngIf="users.length === 0">
                <span>Aucun utilisateur</span>
            </div>
        </div>

        <div class="box" routerLink="/forum" routerLinkActive="active">
            <div class="header">
                <div class="header__left">
                    <i class="far fa-newspaper"></i>
                    <span>Articles</span>
                </div>
                <div class="header__right">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>

            <div class="content" *ngFor="let post of posts">
                <span>{{ post.title }}</span>
            </div>

            <div class="content" *ngIf="posts.length === 0">
                <span>Aucun article</span>
            </div>
        </div>

        <div class="box" routerLink="/files" routerLinkActive="active">
            <div class="header">
                <div class="header__left">
                    <i class="far fa-file-alt"></i>
                    <span>Fichiers</span>
                </div>
                <div class="header__right">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>

            <div class="content" *ngFor="let file of sortFile()">
                <span>{{ file.name }}</span>
            </div>

            <div class="content" *ngIf="files.length === 0">
                <span>Aucun fichier</span>
            </div>
        </div>
    </div>
</div>
